langchain
ipykernel
python-dotenv
langchain-openai
beautifulsoup4
langchain_community
faiss-cpu
streamlit
langchain_groq
langchain_core
fastapi
uvicorn
langserve
sse_starlette
transformers
langchain-chroma
langchain_huggingface
sentence-transformers
bs4
pypdf
arxiv
wikipedia
duckduckgo-search
#sqlite3
validators  #for validating urls
youtube_transcript_api
unstructured
pytube
numexpr
huggingface_hub
cassio
datasets
tiktoken
ddgs